@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-luxury-black text-white overflow-x-hidden;
    }

    html {
        scroll-behavior: smooth;
    }
}